---
import { VscGithub, VscMail } from 'react-icons/vsc/index.js';
import ThemeToggle from "./ThemeToggle";
import Logo from '../assets/PS_Logo.svg';
---
<style>
    .main-head {
        grid-area: header;
    }
    .header-row{
        height: 10vh;
        display: flex;
        align-items: center;
        padding: 1rem;
    }
</style>
<header class="main-head bg-[color:var(--primary-color)]">
    <div class="header-row">
    <a href="/"><img src={Logo} class="max-w-[4rem]"/></a>
    <div class="flex-grow"></div>
    <ThemeToggle client:only="react" />
    <div class="flex justify-between gap-x-6">
        <VscGithub size={25} />
        <a href='mailto:gparthasarathy123@gmail.com'>
            <VscMail size={25}/>
        </a>
    </div>
</div>

<slot/>
</header>