<style>
.main-nav {
		grid-area: nav;
	}
@media (min-width: 700px) {

		nav ul {
			flex-direction: column;
			padding: 1rem;
		}
	}

</style>
<nav class="main-nav p-2">
    <ul>
        <li><a href="">About</a></li>
        <li><a href="">Experience</a></li>
        <li><a href="">Skills</a></li>
    </ul>   
</nav>