<section class="bg-[color:var(--secondary-color)]  p-4">
    <ol class="relative border-l border-gray-200 dark:border-gray-700">                  
        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none ">August 2022</time>
            <h3 class="text-lg font-semibold text-gradient">Trying out latest JS framewroks for portfolio site</h3>
            <p class="mb-4 text-base font-normal ">Built the site using Astro, React, Solid Js, Tailwind CSS and etc</p>
        </li>
    </ol>
</section>